@{ ViewData["Title"] = "Create"; }
@model IEnumerable<Courier_Management_System.Models.City>
<h1>New Consignment</h1>
<h4>Consignment Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form class="form-horizontal" method="post" asp-controller="Consignment" asp-action="Create">
            <div class="form-group">
                <label for="package_type">Courier Type:</label>
                <Select class="form-control" name="package_type">
                    <option value="SCs">Standard Courier services</option>
                    <option value="ROD">Rush and On-Demand</option>
                    <option value="PSW">Pallet Shipments and Warehousing</option>
                    <option value="LD">Luggage Delivery</option>
                </Select>
            </div>
            <div class="form-group">
                <label for="package_content">Package Content:</label>
                <input type="text" class="form-control" name="package_content" required>
            </div>
            <div class="form-group">
                <label for="package_content">Reciver's Name:</label>
                <input type="text" class="form-control" name="consignee_name" required>
            </div>
            <div class="form-group">
                <label for="destination_city">Destination City:</label>
                <select name="city" style="max-width: 150px" class="form-control">
                    @foreach(var city in Model)
                    {
                        <option value="@city.city_name">@Html.DisplayFor(modelItem => city.city_name)</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <textarea type="text" class="form-control" name="address" required placeholder="Address" rows="7" cols="20"></textarea>
            </div>
            <div class="form-group">
                <label for="pkg_weight_in_grams">Package Weight in Grams:</label>
                <input type="number" class="form-control" name="pkg_weight_in_grams" required>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Add Consignment" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    
}
