@model Courier_Management_System.Models.Consignment_Details

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Consignment_Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="user" class="control-label"></label>
                <input asp-for="user" class="form-control" />
                <span asp-validation-for="user" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="package_type" class="control-label"></label>
                <input asp-for="package_type" class="form-control" />
                <span asp-validation-for="package_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="destination_city" class="control-label"></label>
                <input asp-for="destination_city" class="form-control" />
                <span asp-validation-for="destination_city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Consignee_name" class="control-label"></label>
                <input asp-for="Consignee_name" class="form-control" />
                <span asp-validation-for="Consignee_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pkg_weight_in_grams" class="control-label"></label>
                <input asp-for="pkg_weight_in_grams" class="form-control" />
                <span asp-validation-for="pkg_weight_in_grams" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amount" class="control-label"></label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
