
<html>
    <head>
        <link rel="stylesheet" href="~/css/login.css" />
    </head>
    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="~/􀉭.textClipping" id="icon" alt="User Icon" />
                </div>

                <!-- Login Form -->
                <form asp-action="Login" asp-controller="User" method="post">
                    <input type="text" name="email" class="fadeIn second" placeholder="Email">
                    <input type="text" name="password" class="fadeIn third" placeholder="Password">
                    <input type="submit" class="fadeIn fourth" value="Log In">
                </form>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <a class="underlineHover" href="#">Forgot Password?</a>
                </div>

            </div>
        </div>
    </body>
</html>
